body,div,ul,li{
padding: 0;
margin: 0;
}
body{
    width:100%;
    height:100%;
    overflow:hidden;
}
ul, ol,li {
list-style: none;
}
a{
cursor: pointer; 
text-decoration: none;
}

#alarm{
position: absolute;
bottom: 10px;
width: 100%;
/* opacity: 0.3; */
color: rgb(247, 45, 45);
/* margin: 0px 30% 0px 25%; */
z-index: 999;
font-size: 25px;
}
#link_slide{
overflow: hidden;
position: absolute;
height: 65px;
bottom: 5px;
width: 70%;
 
margin-left: 26%;
padding: 10px 20px 0 20px;
float: right;
font-size: 16px;
color: red;
}
#header, #header .headerNav {  
  background-color: #FBFDFC;
}
 
#header .logo { 
background: url('../images/login/GE_login_05.png') no-repeat scroll 0% 0% / 45px auto transparent;
margin: 6px 0px 0px 30px;
float: left;
width: 60px;
text-indent: -1000px;
height: 50px;
}
#refresh{
background: url('../images/reload.png') no-repeat scroll center center / 23px auto transparent;
display: block;
color: #15428B;
font-size: 14px;
float: right;
padding: 5px 0px 5px 40px;
text-indent: -1000px;
margin-left: 15px;
border: 1px solid;
border-width: 0px 0px 0px 1px;
}
.headerNav > div{
list-style: none outside none;
float: left;
width: 50px;
text-align: left;
padding: 8px 10px;
}

.headerNav > div .span1{
display: block;
white-space: nowrap;
line-height: 28px;
float: left;
color: #0E293A;
font-size: 20px;
}

.headerNav > div .span2{
display: block;
white-space: nowrap;
line-height: 18px;
float: left;
color: #0E293A;
font-size: 16px;
 
}
 
#header .headerNav { height:60px;}
 
#header .nav { display:block;  position:absolute;  right:0px; z-index:31;}
 
#header .nav li { 
/*line-height: 11px;
display: block;
position: relative;
float: left;
height: 50px; 
margin: 20px 10px;
background: #7A8194;*/

line-height: 11px;
display: block;
position: relative;
float: left;
}
#header .nav li a { 
/*float: left;
height: 30px; 
line-height: 85px;
font-size: 14px;
padding: 0 25px;  
color: #FEFEFC;*/
color: #848D92;
float: left;
font-size: 14px;
padding: 28px 25px 20px;
}
#header .nav li:hover a, #header .nav li.selected a{
    border-bottom: 3px solid #467CBE;
    color: #467CBE;
}

#header .nav ul { display:none; width:230px; border:solid 1px #06223e; overflow:hidden; background:#FFF; position:absolute; top:20px; right:0;}
#header .nav ul li { margin-top:10px; height:21px;}
 
#header .nav .selected ul {display:block;}


/*left*/
#leftside {
position: absolute;
left: 0px;
z-index: 20;
background: #001927;;
height: 300px;
width: 25%;
overflow: auto;
-webkit-overflow-scrolling: touch;
 color: #FFF;
}
li.menuHosp {
//border: solid #B9BABF;
//border-width: 0 0 1px 0;
}
.sectionTitle{
 
padding-left: 20px;
clear: both; 
}
.sectionTitle a {
line-height: 42px;
}
.sectionTitle.selected { 
color: #0348FD;
}
.hospContent li{
background: #001927;;
}

.hospTitle {
color: #FFF;
padding: 3px 30px;
font-size: 14px;
white-space: nowrap;
}
.hospDevice {
padding-left: 45px;
}
 
 
.hospDevice span {
display: block;
color: #FFF;
background: url('../images/7.png') no-repeat scroll left center / 16px auto transparent;
float: left;
padding: 5px 10px 5px 20px;
font-size: 14px;
}
.hospDevice  span.selected {
background: url('../images/8.png') no-repeat scroll left center / 16px auto transparent;
color: #0348FD;
}
 
/*content*/
#content {
position: absolute; 
/*left: 260px;*/
background:#E3E9ED;
width: 75%;  
left: 25%;
overflow:auto;
-webkit-overflow-scrolling: touch;
}
#content .panel{
    background: none repeat scroll 0% 0% #FBFCFD;
    margin: 15px 25px 15px 25px;
    border: 1px solid #FBFCFD;
     -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 5px;
    position: absolute;
    width: 95%;
    height: auto;
}
.content-title{
color:rgba(118, 120, 122, 1);
padding:5px 0;
 
font-size: 15px;
 border-bottom: 3px solid #E3E9ED;
}
.content-title-left{
float:left; 
padding-left:20px 
}
.content-title-right{
float:right; 
padding-right:10px;
}

.content-chart>div{
    height: 200px;
    width: 95%;
    margin: 15px;
   // background: #FFF;
    //border: 2px solid #dedede;
   // -moz-border-radius: 15px;
   // -webkit-border-radius: 15px;
    //border-radius: 15px;
    
    border-color: #979797;
    border-width: 1px 0px 0px 0px;
 //   border-style: solid;
}
.content-chart .cur-info{
    float: left;
    color:#fff;
    margin: 65px 0px 10px 10px;
    padding: 0 5px 5px 5px;
    width: 125px;
    background: #A9CFFE;
     -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.content-chart .nodata{
    font-size:20px; display:block; padding:30px;
}
 
.cur-name{
    display: block;
    white-space: nowrap;
    padding-top: 15px;
    font-size: 14px;
}
span.cur-val{font-size: 30px}
.cur-val lable{font-size: 20px}
.content-chart div.chart{
height: 200px;
width:100%;
float:right;
/*height: 200px;
background: #F2F0F1;
border: 2px solid #dedede;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
margin-bottom: 25px;*/
}

/* 大屏幕 */
/*@media (min-width: 1200px) { 
    .container{
    width: 100%; 
    
    } 
    #content{
    width: 75%;  
    left: 25%;
    height:698px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
      }
    #leftside {
    width: 25%;
    height:698px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    }
}*/
 
/* 平板电脑和小屏电脑之间的分辨率 */
/*@media (min-width: 768px) and (max-width: 979px) { 
    .container{
    width: 100%; 
    } 
    #content{
    width: 75%;  
    left: 25%;
    height:954px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
      }
    #leftside {
    width: 25%;
    height:954px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    }
}*/
 
/* 横向放置的手机和竖向放置的平板之间的分辨率 */
/*@media (max-width: 767px) {  }*/
 
/* 横向放置的手机及分辨率更小的设备 */
/*@media (max-width: 480px) { }*/


.container{
width: 100%; 
} 
@media ( max-width: 1025px ) and ( min-width :769px){
#content,#leftside {
height:708px;
  } 
}

@media ( max-width: 1536px ) and ( min-width :1025px){
#content,#leftside {
height:1988px;
  } 
}

@media ( max-width: 2047px ) and ( min-width :1535px){
#content,#leftside {
height:1988px;
  } 
}

@media ( min-width :2047px){
#content,#leftside {
height:1476px;
  } 
}
@media ( max-width: 769px ){
 
#content, #leftside {
    height:964px;
  } 
/*  .content-chart div.chart{
    width: 70%; 
  }*/
}
 
/*加载中提示*/
#load {
	 
	line-height:40px;
	 
	font-weight:bold;
	font-size:18px;
	color:white;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 200;
	position: fixed;
}
#load .loadIcon  {
	display:block; float:left;
	width:40px; height:40px;
	background:url(../images/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
#load > div{
width: 145px;
padding: 40px 0px 40px 20px;
margin: 20% 45%;
background-color: #000;
border: 2px solid #000;
opacity: 0.55;
 -moz-border-radius: 15px;
 -webkit-border-radius: 15px;
border-radius: 25px;
}
#load.loading .loadIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}

