@charset "utf-8";

/*jquery.validationEngine.css*/
html body .qtip{max-width: 500px;}
div.formError div.formErrorContent { padding: 4px 10px 4px 10px; width: 100%; background: #ffebeb; position:relative; color: #df1a08; min-width: 70px; line-height:12px; font-size: 11px; border: 1px solid #df1a08; box-shadow: 1px 1px 5px #666; border-radius: 3px; -moz-border-radius:3px; /* Old Firefox */}
div.formError div.formErrorArrow div { border-left: 2px solid #df1a08; border-right: 2px solid #df1a08; box-shadow: 0 2px 3px #666; -moz-box-shadow: 0 2px 3px #666; -webkit-box-shadow: 0 2px 3px #666; -o-box-shadow: 0 2px 3px #666; font-size: 0px; height: 1px; background: #ffebeb; margin: 0 auto; line-height: 0; font-size: 0; display: block;}
.formError .formErrorArrow .line10 { width: 15px; border: none; }
.formError .formErrorArrow .line9 { width: 13px; border: none; }
.formError .formErrorArrow .line8 { width: 11px; }
.formError .formErrorArrow .line7 { width: 9px; }
.formError .formErrorArrow .line6 { width: 7px; }
.formError .formErrorArrow .line5 { width: 5px; }
.formError .formErrorArrow .line4 { width: 3px; }
div.formError div.formErrorArrow div.line3 { width: 1px; border-left: 2px solid #df1a08; border-right: 2px solid #df1a08; border-bottom: 0 solid #df1a08; }
div.formError div.formErrorArrow div.line2 { width: 3px; border: none; background: #df1a08; }
div.formError div.formErrorArrow div.line1 { width: 1px; border: none; background: #df1a08;}


/*home.css*/
.home-content{
	width:100%;
	height:585px;
}

.home-content-top-box{
	width:100%;
	height:400px;
	border-top:1px solid #ccc;
	border-bottom:2px solid #ccc;
	background:url("../images/content-repeat-x.png") repeat-x #7DC53C;
}

.home-content-top{
	overflow:hidden;
	margin:0 auto;
	width:1000px;
	height:398px;
	background:url("../images/content-bg.jpg") no-repeat #7DC53C;
	border:0px;
}

.home-content-login-box{
	margin:65px 0 0 738px;
}

.home-content-login{
	float:left;
	width:223px;
	height:258px;
	background:url("../images/login-bg-hh.jpg") repeat-y;
	border:1px solid #ececec;
	border-radius:3px;
	box-shadow: 0px 0px 10px #666;
}

.home-content-login ul{
	margin-top:15px;
}

.home-content-login ul li{
	margin-left:23px;
	text-align:left;
}

.home-content-login ul li input{
	border:0px;
	background:#e7e7e7;
}

.home-content-login-text{
	height:16px;
	margin-bottom:5px;
}

.home-content-login-user{
	margin-bottom:10px;
	width:175px;
	height:33px;
	position:relative;
	background:url("../images/home-bg.png") 0 -130px;
}

#home-content .home-input-user,#home-content .home-input-pwd{
	color:#555;
}

#home-content-bottom-div{
	width:100%;
	height: 180px;
}

#home-content-bottom-div-top-text{
	width: 60%;
	height: 30px;
	margin: 0 auto;
	font-size: 16px;
	color: #36630e;
	padding-top: 20px;
	min-width: 1024px;
	text-align:left;
	letter-spacing: 1px;
}

#home-content-bottom-div-center{
	width: 60%;
	height: 130px;
	min-width: 1024px;
	margin: 0 auto;
}

.home-content-bottom-div-center-item{
	width: 270px;
	height: 120px;
	float: left;
}

.home-content-bottom-div-center-black{
	width: 70px;
	height: 120px;
	float: left;
}

.home-content-bottom-div-center-item-image{
	width: 130px;
	height: 100%;
	padding-top: 5px;
	float: left;
}

.home-content-bottom-div-center-item-text{
	width: 120px;
	height: 100%;
	padding-top: 5px;
	float: left;
	text-align: center;
	color: #555;
}

.home-content-bottom-div-center-text-top{
	width: 100%;
	height: 20px;
	font-size: 18px;
	float: left;
}

.home-content-bottom-div-center-text-center{
	width: 100%;
	height: 35px;
	font-size: 14px;
	padding-top: 5px;
	letter-spacing: 0px;
	float: left;
}

.home-content-bottom-div-center-text-button-box{
	width: 100%;
	float: left;
	height: 40px;
	text-align: center;
}

.home-content-bottom-div-center-text-button{
	width: 110px;
	height: 24px;
	margin: 0 auto;
	padding-top: 8px;
	cursor: pointer;
	font-size:13px;
	color:#fff;
	background:#70cb57;
	border:1px solid #52c050;
	border-radius:1px;
	box-shadow: 1px 1px 3px #e3e3e3;
}


.home-content-login-vercode{
	float:left;
	width:100%;
	height:32px
}

.home-content-login-vercode p{
	float:left;
}

.home-content-login-ver{
	float:left;
	margin-right:10px;
	width:75px;
}

.home-verimg{
	overflow:hidden;
	margin-left:5px;
	width:83px;
	height:28px;
	background:#eee;
	border:1px solid ccc;
}

/*#home-input-user{
	margin:1px 0 0 33px;
	width:140px;
	height:26px;
}*/
/*#home-content .home-input-pwd-text,#home-content .home-input-pwd-password{
	margin:2px 0 0 33px;
	width:140px;
	height:24px;
	border:0px;
	background:#e7e7e7;
}*/
#home-content .home-input-pwd-text{
	color:#999;
}

#home-content .home-input-pwd-password{
	color:#555;
}

/*#home-content .home-input-ver-default,#home-content .home-input-ver-custom{
	width:83px;
	height:24px;
	background:#e7e7e7;
	border:1px solid #eee;
	border-radius:5px;
	box-shadow: 0px 0px 5px #ccc;
}*/


#home-content .home-input-ver-default{
	color:#999;
}

#home-content .home-input-ver-custom{
	color:#555;
}

.home-content-login-pwd{
	margin-bottom:10px;
	width:175px;
	height:32px;
	background:url("../images/home-bg.png") 0 -92px;
}

#home-content .home-input-submit{
	float:left;
	margin-top:15px;
	width:75px;
	height:28px;
	font-size:14px;
	color:#444;
	background:#91b246;
	border:1px solid #859956;
	border-radius:7px;
}

.home-content-login-tool{
	margin-top:10px;
}

.home-content-login-tool a{
	color:#617532;
}

.home-content-login-tool a:hover{
	text-decoration:underline;
}

.home-login-forget{
	float:left;
	margin-left:10px;
	line-height:52px;
	cursor:pointer
}

.home-login-forget a{
	text-decoration:underline;
}

.home-login-new{
	float:left;
}

.home-login-or{
	margin:0 10px;
	float:left;
}

.home-content-loginright{
	float:left;
	margin-top:115px;
	width:28px;
	height:102px;
	background:url("../images/login-right-bg.jpg");
}

.home-content-loginright-text{
	margin:5px 0 0 7px;
}

.home-content-loginright-icon{
	margin:2px 0 0 8px;
	width:11px;
	height:11px;
	background:url("../images/home-login-r.png");
}

.home-content-bottom-box{
	width:100%;
	height:200px;
}
.home-content-bottom{
	margin:0 auto;
	width:1000px;
	height:100%;
}

.home-content-bottom-update,.home-content-bottom-note{
	float:left;
	width:499px;
	height:100%;
}

.home-content-bottom-update ul,.home-content-bottom-note ul{
	margin-top:35px;
}

.home-content-bottom-update ul li,.home-content-bottom-note ul li{
	clear:left;
	width:100%;
	line-height:30px;
}

.home-content-list-title{
	overflow:auto;
	margin-bottom:10px;
}

.home-content-list-titleicon-a{
	float:left;
	margin:8px 10px 0 80px;
	width:15px;
	height:14px;
	background:url("../images/book.png") no-repeat;
}

.home-content-list-titletext{
	float:left;
	color:#517000;
	font-size:16px;
}

.home-content-list-more{
	float:right;
	margin:6px 55px 0 0;
}

.home-list-more{
	width:49px;
	height:17px;
	line-height:3px;
	color:#fff;
	background:#517000;
	border:1px solid #517000;
	border-radius:14px;
}

.home-content-list-text{
	float:left;
	margin-left:66px;
}

.home-content-list-date{
	float:right;
	margin-right:55px;
}

.home-content-bottom-note{
	float:left;
	width:499px;
	height:100%;
}

.home-content-list-titleicon-b{
	float:left;
	margin:8px 10px 0 80px;
	width:15px;
	height:14px;
	background:url("../images/note.png") no-repeat;
}

.home-content-list-article{
	float:left;
	margin-left:66px;
	width:377px;
	text-indent:20px;
}

.home-content-bottom-line{
	width:2px;
	height:100%;
	float:left;
}

.home-content-line{
	margin-top:26px;
	width:100%;
	height:145px;
	background:#ccc;
}
/*nav.css*/
.home-nav-box{
	width:100%;
	height:63px;
}
.home-nav{
	overflow:hidden;
	margin:0 auto;
	width:1000px;
	height:100%;
	line-height:65px;
	background:#fff;
}

.home-nav ul{
	overflow:hidden;
	float:right;
	margin-right:50px;
	width:auto;
}

.home-nav ul li{
	display:inline;
	float:left;
	margin:0 0 0 25px;
	font-size:16px;
}

.home-nav-a-default a{
	color:#555;
	text-decoration:none;
}
.home-nav-a-default a:hover{
	color:#83a82f;
	text-decoration:none;
}

.home-nav-a-current a{
	color:#83a82f;
	text-decoration:none;
}
.home-nav-a-current a:hover{
	color:#83a82f;
	text-decoration:none;
}
/*footer.css*/
.home-footer-box{
	overflow:hidden;
	width:100%;
	height:68px;
	background:#ebebeb;
	border-top:1px solid #ccc;
}
.home-footer{
	margin:0 auto;
	width:1000px;
	height:100%;
	line-height:48px;
	text-align:center;
}

/*registe*/
form.content-main{
	width:700px;
	height:560px;
	background-color:#FFFFFF;
	border-radius:4px;
	border:1px solid #ccc;
	position:absolute;
	z-index:1;
}
form.content-main input{
	padding:0px;
	display:inline-block;
	border-radius:4px;
	border:1px solid #ccc;
	outline:none;
	width:270px;
	height:30px;
	line-height:20px;
}
/*
button{
	padding:6px 12px;
	border-radius:4px;
	outline-width:0px;
	cursor:pointer;
	color:#FFF;
	border:1px solid #5FAB40;
	background-color:#5FAB40;
	font-weight:bold;
	display:inline-block;
	width:110px;
	height:30px;
	margin-left:-170px
}
button:hover{
	border:1px solid #008000;
	background-color:#008000;
}
*/
#forget-password-formid input:focus,#form-for-registe input:focus{
	-webkit-box-shadow:1px 1px 10px rgba(95,171,64,0.75);
	box-shadow:1px 1px 10px rgba(95,171,64,0.75);
	border:1px solid rgb(95,171,64);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	line-height:20px
	}
input:focus::-webkit-input-placeholder{
	color:#EEEEEE;
}
li.form-line-wrapper{
	width:510px;
	//height:32px;
	margin-top:20px;
	//margin-left:30px;
	position:relative;
	//overflow:hidden
}
.label-for-input{
	display:inline-block;
	width:120px;
	height:38px;
	padding-right:60px;
	text-align:right;
	font-size:12px;
	font-weight:bold;
}
img#imgVcode{
	width:90px;
	height:30px;
	float:right;
	vertical-align:middle
}
input#regist-secure-code{
	width:150px;
}
label.label-secure-code{
	width:90px
}
li.secure-code-wrapper{
	width:460px;
	margin-left:25px
}
div.title-for-company{
	position:absolute;
	top:-37px;
	width:530px;
	height:34px;
	text-align:left;
	padding-left:70px;
	line-height:34px;
	font-family:'微软雅黑', 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, Sans;
	font-size:24px;
	text-shadow:0 0 5px #fff,0 0 10px #fff,0 0 15px #fff,0 0 20px #70CB57,0 0 30px #70CB57;
	background:url("../images/home-bg.png") 0 -16px no-repeat;
}
li.for-service-rule{
	width:700px
}
div.regist-title{
	width:690px;
	height:34px;
	border-bottom:1px solid #f2f2f2;
	text-align:left;
	font-size:14px;
	font-weight:bold;
	font-family:'微软雅黑', 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, Sans;
	line-height:34px;
	padding-left:10px
}
p.bottom-service-rule{
	height:54px;
	width:600px;
	line-height:54px;
	padding-left:100px;
	overflow:visible;
	text-align:left;
}
a.anchor-service-rule{
	color:#70CB57;
	text-decoration:underline
}
button.btn-sign-in-platform{
	width:100px;
	height:40px;
	position:absolute;
	top:230px;
	left:600px
}
button.btn-send-email-again{
	width:250px;
	height:40px;
	position:absolute;
	top:230px;
	left:300px
}
div.registration-success-prompt{
	width:400px;
	height:70px;
	margin:0px auto;
	font-size:14px;
	line-height:35px;
	position:absolute;
	top:100px;
	left:120px
}
.regist-tips{
	color:red;
	position:absolute;
	left:510px;
	top:0px;
	display:block;
	width:150px;
	height:32px;
	line-height:32px
}
.serious_warning{
  color:#d00209
}
.important_warning{
  color:#fd5e00;
}
.minor_warning{
  color:#ffe700;
}
.caution{
  color:#2da5eb;
}
.remind{
  color:#0fa75e;
}

.form-control-left {
	padding-left: 30px;
	padding-right: 0px!important;
}

table .header-fixed {
	position: fixed;
	top: 0px;
	/* 10 less than .navbar-fixed to prevent any overlap */

	z-index: 1020;
	border-bottom: 1px solid #d5d5d5;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, 0.1);
	/* IE6-9 */

	filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
}